body {
  margin: 0;
  height: 625px;
  text-align: center;
  font-family: "Zen Loop", cursive;
  overflow: hidden;
  background: hsl(209, 61%, 16%);
  color: black
}

.input{
  transition: all 0.3s linear;
  width: 500px;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}



.inputRadio{
  display: none;
}



::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsl(209, 61%, 16%);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 100px;
}


.btn {
  width: 100px;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  color: hsl(209, 61%, 16%);
  background-color:white;
  font-weight: bold;
  font-size: 20px;
}

.btn:active {
  box-shadow: rgba(255, 255, 255, 0.664) 0px 5px 15px;
}

.btns {
  width: 500px;
  padding: 0 8px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  width: 500px;
  height: 400px;
  margin: 0 auto;
  padding: 10px 45px;
  border-bottom: 2px solid hsl(206, 33%, 96%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: scroll;
  overflow-x: hidden;
}

.input:focus {
  box-shadow: rgba(255, 255, 255, 0.664) 0px 5px 15px;
}
