/*body {
  margin: 0;
  background-color: lightblue;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "monospace";
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vh;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}

.section-center {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  padding: 2rem;
}

.form{
  display: flex;
  justify-content: center;
}

.dit-btn, .delete-btn{
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.0rem;
  margin: 0 0.10rem;
  transition: all 0.3s linear;
}

.delete-btn{
  color: lightgreen;
}

.delete-btn{
  color: red;
}*/

/*

.input{
  transition: all 0.3s linear;
  width: 300px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input:focus{
  border:1px rgb(44, 44, 134) solid;
  outline-width: 0px;
  transition: all 0.3s linear;

}

ul{
  margin: 0;
  padding: 0;
  height: 800px;
  overflow: auto;
  transition: all 0.3s linear;
  color: hsl(209, 61%, 16%);;
}
.inputRadio{
  display: none;
}
.radioLabel{
  padding:5px 10px ;
  border-radius: 5px;
  background-color: darkorange;
  margin: 0 10px;
  transition: all 0.3s linear;
  margin-bottom: 10px;
  
}
*/



// ::-webkit-scrollbar {
//   width: 3px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background-color: hsl(209, 61%, 16%);
//   border-radius: 100px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background-color: #e4e4e4;
//   border-radius: 100px;
// }

// body {
//   margin: 0;
//   height: 625px;
//   text-align: center;
//   font-family: "Zen Loop", cursive;
//   overflow: hidden;
//   background: hsl(209, 61%, 16%);
//   color: hsl(210, 36%, 96%);
// }

// .btn {
//   width: 100px;
//   padding: 8px 15px;
//   border-radius: 10px;
//   border: none;
//   color: hsl(209, 61%, 16%);
//   font-weight: bold;
// }

// .btn:active {
//   box-shadow: rgba(255, 255, 255, 0.664) 0px 5px 15px;
// }

// .todo-title {
//   font-size: 50px;
//   text-align: center;
// }

// .btns {
//   width: 500px;
//   padding: 0 8px;
//   margin: 30px auto;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .form {
//   width: 500px;
//   height: 400px;
//   margin: 0 auto;
//   padding: 10px 45px;
//   border-bottom: 2px solid hsl(206, 33%, 96%);
//   border-bottom-left-radius: 3px;
//   border-bottom-right-radius: 3px;
//   overflow: scroll;
//   overflow-x: hidden;
// }

// .input {
//   width: 350px;
//   margin-right: 35px;
//   outline: none;
//   height: 35px;
//   padding: 0 20px;
//   color: "hsl(209, 61%, 16%)";
//   font-size: "30px";
//   font-weight: "800";
//   box-sizing: border-box;
//   border-radius: 10px;
//   border: none;
// }

// .input:focus {
//   box-shadow: rgba(255, 255, 255, 0.664) 0px 5px 15px;
// }

// .submit-btn {
//   background-color: rgb(248, 232, 82);
//   padding: 12px 0;
// }

// .delete-btn {
//   background-color: rgb(236, 26, 26);
// }

// .complated{
//   text-decoration:line-through;
// }